doctype html
html
	head
		title Socket.IO chat
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script.
			var fnick = $('#nick');
